:root{
    --size-knob: 50px;
    --size-dot: 10px;
}
html * {
    font-size: 16px;
    line-height: 1.625;
    color: #D9D9D9;
    font-family: Andale Mono, monospace;
    user-select: none;
  }
body{
    background-color: #1E1E1E;
}
input[type="number"]{
    background-color: transparent;
    width: 4ch;
    color: #D9D9D9;
    border: none;
    padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#canvasContainer{
    position: relative;
    width: 100%;
}
#containerSequencer{
    /* height: 100%; */
    display:flex;
    justify-content: center;
}
#wholeContainer{
    width: 1090px;
    height: 600px;
    background-color: #3C3C48;
    border-radius: 10px;
}
#tot{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#filter1{
    width:340px;
}
.knobContainer{
    display: flex;
    flex-wrap: wrap;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    /* width: min-content; */
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.knob{
    display:flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 50%;
    width: var(--size-knob);
    height: var(--size-knob);
    border: 2px solid #44116C;
    background-color: #D9D9D9;
    rotate: 0deg;
}
.dot{
    position: relative;
    display: flex;
    width: var(--size-dot);
    height: var(--size-dot);
    border-radius: 50%;
    background-color: #44116C;
    top: 5px;
}

.blockSection{
    border-radius: 20px;
    border: 1px solid #44116C;
    background: rgba(217, 217, 217, 0.15);
    padding: 20px;
    margin:10px;
}
.label{
    width:auto;
}
.title{
    text-align: center;
    font-size: large;
}
.separationSteps{
    position: relative;
    background-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 25%, 
        rgba(0, 0, 0, 0.50) 25%, rgba(0, 0, 0, 0.50) 50%, 
        rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, 
        rgba(0, 0, 0, 0.50) 75%, rgba(0, 0, 0, 0.50) 100%);
    bottom: -223px;
    width: 100%;
    height: 86px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}